
<div style="text-align:center">
  <h1>Partial refund calculator</h1>
<div class="calculator">

  <!-- src/app/calculator/calculator.component.html -->

  <div class="calculator">
    <label>Sales Price:</label>
    <input type="number" [(ngModel)]="sales_price" />
    <br />

    <label>Number of Months:</label>
    <input type="number" [(ngModel)]="number_of_months" />
    <br />

    <button (click)="calculate()">Calculate</button>

    <div *ngIf="solution !== null">
      <p>Result: {{ solution }}</p>
    </div>
  </div>

</div>
</div>


